@import'__mixin';
@import '__variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header {
    background: $gradiente;

    &__container {
        padding: 2rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 1rem;
        }
    }


    &__title {
        text-align: left;
        color: $color-texto-claro;
        text-shadow: 1px 1px 3.5px rgba(0, 0, 0, 0.1);


        &--sub {
            font-weight: 400;
            font-size: 1.25rem;
        }

        &--principal {
            font-weight: 700;
            font-size: 2rem;
        }

        @media (max-width: 992px) {
            order: 2;
            text-align: center;
        }
    }

    &__search {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        height: 2.45rem;
        flex-grow: 1;
        max-width: 450px;


        @media (max-width: 992px) {
            width: 100%;
            order: 3;
        }
    }

    &__input {
        padding: 1rem;
        align-self: center;
        flex-grow: 1;
        max-width: 400px;
        border-style: none;
        border-radius: 0.75rem;
        box-shadow: inset 0 0 3px $color-detalles;
    }

    &__button {
        @include BotonCeleste
    }

    &__logo {
        height: auto;
        max-height: 4rem;
        max-width: 100%;


        @media (max-width: 992px) {
            max-height: 3rem;
            text-align: center;
        }

    }
}

main {
    flex-grow: 1;    
}


.swiper {
    width: 95%;
    height: auto;
    margin-top: clamp(3rem, 1.9565rem + 5.2174vw, 6rem);
    display: flex;
    justify-content:center;
    
    .swiper-slide {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    transition: 0.3s;
    &:hover {
        transform: translateY(-10px);
    }
    
    }
  }

.card {
    
    &__element {
        background: $gradiente;
        display: grid;
        border: solid $color-primario;
        border-width: 3px 0px 3px 3px;
        border-radius: 2rem 0rem 0rem 2rem;
        padding-bottom: 1.5rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    }

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 1rem;
    }

    &__name {
        @include NombrePokemon
    }

    &__type {
        @include TipoPokemon
    }
}

.info {

&__element{
    background-color: $color-texto-claro;
    border: solid $color-primario;
    border-width: 3px 3px 3px 0px;
    padding-top: 1.5rem;    
    border-radius: 0rem 2rem 2rem 0rem;
    color: $color-texto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}
    
    &__hp {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }

    &__ataque {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }

    &__defensa {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }

    &__velocidad {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }

    &__posicion {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
        
    }
}


.button {
    
    display: grid;
    justify-content: center;
    margin: 2rem 0rem;

    &__cta{
        @include BotonCeleste;
        font-size:1rem;
        padding: 1.25rem;
    }
}

.footer {
    background: $gradiente-inverso;
    color: $color-texto-claro;
    text-align: center;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;



    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    &__credito {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;


        @media (max-width: 768px) {
            align-items: center;
        }
    }

    &__texto {
        font-size: 0.75rem;
    }

    &__links {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: white;
        cursor: pointer;
        transition: color 0.05s ease-in;

        &:hover {
            color: $color-detalles;
        }
    }

    &__info {
        text-align: right;
        font-size: 0.75rem;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}