@mixin NombrePokemon {
    font-family: 'inter', sans-serif;
    font-size: 2rem;
    padding: 0 1rem;
    margin: 1rem;
}
@mixin TipoPokemon {
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    margin: 1rem;
}