@import'__mixin';
@import '_variables';

.container {
    display: flex;
    justify-content: center;
    }

.card {
    &__element{
        background:#6DB5E5 ;
        display:grid;
        border-radius: 2rem;
    }
    &__img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin:1rem;
    }
    &__name {
        @include NombrePokemon
    }
    &__type{
        @include TipoPokemon
    } 
}  
.info {
    &__hp {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
    &__ataque{
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
    &__defensa {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
    &__velocidad {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
    &__posicion {
        font-family: 'inter', sans-serif;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 1rem;
    }
}
.button {
    display: grid;
    justify-content: center;
}




